@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

/* headings and body */

body {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 1.3rem;
    letter-spacing: 1.5px;
    text-align: center;
}

h1 {
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    letter-spacing: 8px;
    text-align: center;
    text-transform: uppercase;
}

h2 {
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    letter-spacing: 6px;
    text-align: center;
    text-transform: uppercase;
}

h3 {
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

/* navigation menu */

#menu {
    background-color: black;
    letter-spacing: 2px;
    line-height: 75px;
    text-align: center;
    text-transform: capitalize;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    color:rgb(255, 191, 82);
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid rgb(255, 191, 82);
}

/* hero image */

#hero-outer {
    background-color: black;
    overflow: hidden;
    height: 600px;
    width: 100%;
}

#hero-image {
    animation: hero-zoom 5s forwards;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    height: 600px;
    width: 100%;
}

/* hero image animation */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

/* hero image cover text */

#logo {
    font-size: 4rem;
    letter-spacing: 8px;
    padding: 1rem
}

#hero-text {
    font-size: 1rem;
    padding: 11rem;
}

/* ticket banner */

#ticket-banner {
    background-color: black;
    height: 50px;
    overflow: hidden;
}

#ticket-banner h2 {
    color:rgb(255, 191, 82);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 6px;
    line-height: 50px;
    text-transform: uppercase;
}

#ticket-banner a {
    text-decoration: none;
}

#ticket-banner h2:hover {
    background-color: rgb(230, 172, 73);
    color: #000;
}

/* welcome section */

#welcome {
    background-color: rgb(9, 11, 17);
    padding: 4rem;
}

#welcome p {
    padding: 10px 1rem;
}

#welcome h2 {
    padding-bottom: 1rem;
    letter-spacing: 3px;
}

/* artist sections */

#first-day {
    background-color:rgb(216, 158, 58);
    padding: 3rem;
}

#first-day h2 {
    color: rgb(0, 0, 0);
    font-size: 2.2rem;
    letter-spacing: 6px;
    padding-bottom: 1rem;
    text-transform: uppercase; 
}

#second-day {
    background-color:rgb(0, 0, 0);
    padding: 3rem;
}

#second-day h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 6px;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

#third-day {
    background-color:rgb(0, 107, 119);
    padding: 3rem;
}

#third-day h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 6px;
    padding-bottom: 1rem;
    text-transform: uppercase;
}

/* artist cards */

.artist-cards {
    background-color: rgba(255, 255, 255, 0.75);
    border: 2px solid rgb(255, 255, 255);
    float: left;
    margin: 1rem;
    width: 15rem;
}

.artist-cards a {
    text-decoration: none;
}

.artist-cards img {
    border-bottom: 2px solid rgb(255, 255, 255);
    height: 230px;
    width: 100%;
}

/* artist card hover animation */

.artist-cards:hover {
    animation: artist-zoom 0.5s forwards;
}

@keyframes artist-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.05);
    }
}


/* artist card positioning and font color */

.artist-wrap {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.artist-wrap h3 {
    color: black;
}

/* faq section */

#faq {
    background-color: rgb(9, 11, 17);
    padding: 4rem;
}

#faq h2 {
    letter-spacing: 3px;
    text-transform: uppercase;
}

#faq h3 {
    font-family: 'Staatliches', cursive;
    padding-top: 1rem;
}

#faq p {
    padding: 1rem 0rem 2rem 0rem;
}

#faq ul {
    padding-bottom: 1.5rem;
}

#faq li {
    list-style: none;
    padding: 0.1rem;
    margin: 1rem;
}

#faq div {
    border-top: 1px solid white;
    border-bottom: 1px solid white;
    padding: 1rem;
    margin: 0 2rem 1rem 2rem;
}

/* contact form */

#contact {
    background-color: rgb(0, 107, 119);
}

.form-style {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form-style h2 {
    letter-spacing: 3px;
    padding: 2rem;
}

.text-input {
    background: rgb(255, 255, 255, 0.6); 
    border: 2px solid rgb(255, 255, 255);
    font-size: 1.2rem; 
    width: 20rem;
}

.area-input {
    background: rgb(255, 255, 255, 0.6); 
    border: 2px solid rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    height: 10rem;
    padding: 0.5rem;
    width: 24.5rem;
}

::placeholder {
    color:#000
}

.send-button {
    background: rgb(255, 255, 255); 
    border-radius: 2px;
    font-size: 1.2rem;
    padding: 0.5rem 1rem;
    margin: 2rem;
}

.send-button:hover {
    background-color: #000;
    color:rgb(255, 255, 255);
}

label {
    font-family: 'Raleway', sans-serif;
    font-size: 1.2rem;
    letter-spacing: 1.5px;
    padding: 1rem;
}

/* footer and social media links */

footer {
    background-color: #000;
    height: 75px;
}

.social-links {
    text-align: center;
}

.social-links > li {
    display: inline;
}

.social-links i {
    color: #fff;
    font-size: 2.2rem;
    padding: 1.2rem 2rem;
}

