@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

/* headings and body */

h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
}

/* navigation menu */

#menu {
    background-color: black;
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: 75px;
    text-align: center;
    text-transform: capitalize;
}

#menu li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
}

#menu a {
    color:rgb(255, 191, 82);
    text-decoration: none;
}

#menu a:hover {
    border-bottom: 1px solid rgb(255, 191, 82);
}

/* hero image */

#hero-outer {
    overflow: hidden;
    height: 600px;
    width: 100%;
}

#hero-image {
    animation: hero-zoom 5s forwards;
    background: url(../images/hero-image.jpg) no-repeat center center;
    background-color: rgba(0, 0, 0, 0.6);
    background-blend-mode: overlay;
    height: 600px;
    width: 100%;
}

/* hero image animation */

@keyframes hero-zoom {
    from{
        transform: scale(1);
    }

    to{
        transform: scale(1.1);
    }
}

/* hero image cover text */

#logo {
    font-size: 4rem;
    letter-spacing: 8px;
    padding: 1rem
}

.hero-text {
    font-size: 1rem;
    padding: 11rem;
}

