@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Staatliches&display=swap');

* {
    border: none;
    padding: 0;
    margin: 0;
}

/* headings and body */

h1,
h2 {
    color: rgb(255, 255, 255);
    font-family: 'Staatliches', cursive;
    letter-spacing: 4px;
    text-align: center;
    text-transform: uppercase;
}

body {
    color: rgb(255, 255, 255);
    font-family: 'Raleway', sans-serif;
    letter-spacing: 1.5px;
    text-align: center;
}